{% extends 'backend/main/base.html' %}
{% block title %} Category {% endblock title %}
{% block page_name %} Category {% endblock page_name %}

{% block breadcrumb %} 
<li class="breadcrumb-item"><a href="{% url 'admn_home' %}">Home</a></li>
<li class="breadcrumb-item active">Category</li>
{% endblock breadcrumb %}

{% block content %}
<style>
    .card {
        box-shadow: none !important;
        margin-bottom: 1rem;
    }
    .card {
        border-top: 3px solid #007bff !important;
    }

</style>
{% for message in messages %}
  {% if message.tags == 'warning' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var m = '{{ message }}';
        swal('Oppss !', m, "info")
    </script>
  {% endif %}
  {% if message.tags == 'success' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var m = '{{ message }}';
        swal('Muvaffaqiyatli !', m, "success")
    </script>
  {% endif %}
{% endfor %}
<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="row align-items-center">
                <div class="col">
                    <div class="card-header">
                        <h3 class="card-title">Category royxati</h3>
                      </div>
                </div>
                
             </div>
            <!-- /.card-header -->
            <div class="table-responsive">
                <div class="card-body ">
                    <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>#ID</th>
                        <th>Category nomi</th>
                        <th>Kim tomonidan</th>
                        <th>Rol</th>
                        <th>Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for category in categories %}
                      <tr>
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td>{{category.whofrom}}</td>
                        <td>{{category.whofrom.user_type|title}}</td>
                        </td>
                        <td class="float-right"><a href=""><i class="fa fa-eye"></i></a> <a href=""  data-toggle="modal" data-target="#exampleModalCategoryEdit{{category.id}}"><i class="fa fa-pencil"></i></a> <a href="" data-toggle="modal" data-target="#exampleModalCategory"><i class="fas fa-trash-alt"></i></a></td>
                      </tr>
                        <!-- Modal -->
                            <div class="modal fade" id="exampleModalCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-trash-alt text-danger"></i> Foydalanuvchini o'chirish</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    <p class="text-center"><i class="fa fa-trash-alt fa-3x text-danger"></i></p>
                                    <p class="text-center">O'chirishni hohlaysizmi?</p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Yo'q</button>
                                    <a href="{% url 'delete_category' category.id %}" type="button" class="btn btn-danger">Ha</a>
                                    </div>
                                </div>
                                </div>
                            </div>

                        <!-- Modal CAtegory Edit -->
                        <div class="modal fade" id="exampleModalCategoryEdit{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-pencil text-primary"></i>&nbsp; Yangilash | #ID: {{category.id}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/Admn/category/update/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Category nomi</label>
                                            <input type="text" class="form-control" name="category_updated_name" value="{{category.name}}">
                                            <input type="hidden" class="form-control" name="category_updated_id" value="{{category.id}}">
                                        </div>
                                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                      {% endfor %}
               
                      </tfoot>
                    </table>
                  </div>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
    
      <div class="col-md-5">
        <div class="card card-primary" style="border-radius: 2px solid #007bff;">
          <form method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Category nomi</label>
                            <input type="text" class="form-control" name="category_nomi" placeholder="Ismingizni kiriting">
                        </div>
                    </div>
                </div>
              <button type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
</div>

{% endblock content %}