{% extends 'backend/main/base.html' %}
{% block title %} View Rassom {% endblock title %}
{% block page_name %} View Rassom {% endblock page_name %}

{% block breadcrumb %} 
<li class="breadcrumb-item"><a href="{% url 'admn_home' %}">Home</a></li>
<li class="breadcrumb-item active">View Rassom</li>
{% endblock breadcrumb %}


{% block content %}

<style>
  .buttons-print {
    background-color: #007bff !important;
    color: white !important;
    border: 2px solid #007bff !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
  }

  .buttons-print:hover {
    background-color: white !important;
  color: #007bff !important;
  border: 2px solid #007bff !important;
  }
    .card {
        box-shadow: none !important;
    }
    .card {
        border-top: 3px solid #007bff !important;
    }
</style>

<div class="card">
    <div class="row align-items-center">
        <div class="col">
            <div class="card-header">
                <h3 class="card-title">Rassomlar ro'yxati</h3>
              </div>
        </div>
     </div>
    <!-- /.card-header -->
    <div class="table-responsive">
        <div class="card-body ">
            <table id="example" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>#ID</th>
                <th>Rasm nomi</th>
                <th>Rasm</th>
              </tr>
              </thead>
              <tbody>
              {% for rassom in rassoms %}
              <tr>
                <td>{{rassom.id}}</td>
                <td>{{rassom.title}}</td>
                <td class="text-center" style="cursor: pointer; color: #007bff;" data-toggle="modal" data-target="#exampleModalfully{{rassom.id}}"><span class="fa fa-image fa-1x"></span></td>
              </tr>

                    <!-- Barcha rasmlar -->

                    <div class="modal fade" id="exampleModalfully{{rassom.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><span style="color: #007bff;" class="fa fa-image fa-1x"></span> Barcha rasmlar</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                          <div class="modal-body">
                            <p class="text-center"><img src="{{ rassom.img.url }}" class="img-fluid rounded" alt="">
                              <div class="row">
                                {% for rasm in rassom.image_set.all %}
                                  <div class="col-md-6 col-6 mb-lg-2">
                                    <img src="{{ rasm.image.url }}" class="img-fluid rounded" alt="">
                                  </div>
                                {% endfor %}
                              </div>
                            </p>
                          </div>
                          <div class="modal-footer" style="background-color: #007bff;">
                          </div>
                      </div>
                      </div>
                  </div>
                  <!-- End Barcha rasmlar  -->
              {% endfor %}
       
              </tfoot>
            </table>
          </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- Button trigger modal -->


  

{% endblock content %}