{% extends 'backend/main/base.html' %}
{% block title %} She'rlar ro'yxati {% endblock title %}
{% block page_name %} She'rlar ro'yxati {% endblock page_name %}

{% block breadcrumb %} 
<li class="breadcrumb-item"><a href="{% url 'admn_home' %}">Home</a></li>
<li class="breadcrumb-item active">She'rlar ro'yxati</li>
{% endblock breadcrumb %}


{% block content %}

<style>
  .buttons-print {
    background-color: #007bff !important;
    color: white !important;
    border: 2px solid #007bff !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
  }

  .buttons-print:hover {
    background-color: white !important;
  color: #007bff !important;
  border: 2px solid #007bff !important;
  }
    .card {
        box-shadow: none !important;
    }
    .card {
        border-top: 3px solid #007bff !important;
    }
</style>

<div class="card">
    <div class="row align-items-center">
        <div class="col">
            <div class="card-header">
                <h3 class="card-title">She'rlar ro'yxati</h3>
              </div>
        </div>
        
     </div>
    <!-- /.card-header -->
    <div class="table-responsive">
        <div class="card-body ">
            <table id="example" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>#ID</th>
                <th>She'r nomi</th>
                <th>She'r matni</th>
              </tr>
              </thead>
              <tbody>
              {% for sher in shers %}
              <tr>
                <td>{{sher.id}}</td>
                <td>{{sher.title}}</td>
                <td class="text-center" style="cursor: pointer; color: #007bff;" data-toggle="modal" data-target="#exampleModalfully{{sher.id}}"><i class="fa fa-file-text fa-1x"></i></td>
              </tr>
                    <!-- View Sher Fully -->

                    <div class="modal fade" id="exampleModalfully{{sher.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-file-text text-primary"></i> {{sher.title}} ning to'liq matni</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-1">

                              </div>
                              <div class="col-md-10">
                                <p class="text-center">{{sher.text|safe}}</p>
                              </div>
                              <div class="col-md-1">

                              </div>
                            </div>
                          
                          </div>
                          <div class="modal-footer" style="background-color: #007bff;">
                          </div>
                      </div>
                      </div>
                  </div>
                  <!-- End View Sher Fully  -->
              {% endfor %}
       
              </tfoot>
            </table>
          </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- Button trigger modal -->


  

{% endblock content %}