{% extends 'frontend/main/base.html' %}
{% block title %} O'zbekiston Finlandiya Pedagogika Instituti Yosh ijodkorlarni namoyon qilish portali {% endblock title %}
{% block content %}		

{% for message in messages %}
  {% if message.tags == 'error' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var m = '{{ message }}';
        swal('Oops...', m, "error")
    </script>
  {% endif %}
{% endfor %}

<section class="page-header" data-bg-image="/static/media/background/music.jpg">
  <div class="tim-container">
    <div class="page-header-title text-center">
      <h3>Yangi  musiqalar</h3>
      <h2></h2>
    </div>

    <div class="breadcrumbs">
      <a href="#">Bosh sahifa</a>
      <span>/</span>
      <span>Yangi musiqalar</span>
    </div>

  </div>
</section>

		<section id="music-tabs" class="section-padding">
			<div class="container table-responsive">
                <table class="table table-hover border table-sm" style="border-radius: 20px;">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Ovozlar</th>
                        <th scope="col">Ovoz berish</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for song in song_comp %}
                        <tr>
                            <th scope="row">{{song.id}}</th>
                            <td><a href="aritist.html"><a href="{{song.audio_file.url}}" class="sm2_button sm2_paused"><i></i>{{song.user}}</a></a></td>
                            <td>{{ song.song_title }}</td>
                            <td><a href="{{ song.audio_file.url }}" target="_blank" class="song-download"><i class="fa fa-download"></i></a></td>
                            <td>{{song.votes.count}}</td>
                            <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalfully">Verify Sms</a></td>
                        </tr>

                        <!-- VERIFYs -->

                        <div class="modal fade" id="exampleModalfullyVerify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                              <h5 class="modal-title" style="color: #007bff;" id="exampleModalLabel"><span class="fa fa-lock fa-1x"></span> Tasdiqlash Kodi</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                              </div>
                              <div class="modal-body p-4">
                                  <div class="row">
                                   <form action="" method="post"> {% csrf_token %} 
                                      <div class="input-group mb-3">
                                          <input type="text" class="form-control" name="verify_code" placeholder="Tasdiqlash kodini kiriting">
                                          <div class="input-group-append">
                                            <div class="input-group-text">
                                              <span class="fa fa-lock"></span>
                                            </div>
                                          </div>
                                      </div>
                                      <button class="btn btn-primary">Jo'natish</button>
                                   </form>
                                  </div>
                              </div>
                              <div class="modal-footer" style="background-color: #007bff;">
                              </div>
                          </div>
                          </div>
                      </div>


                      {% endfor %}
                  </table>
			</div>
		</section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        console.log('++++++++++++++++++++++++++++++++++++++++')
        $('#exampleModalfullyVerify').modal('show');
      });
    </script>


		{% endblock content %}		