@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* Dark Mode Colours */

  --background: #ffffff;
  --color: #ffffff;
  --button: #f7f4f4;
  --buttonhover: #d6d3d3;
  --feedback__color: rgba(83, 83, 83, 0.7);

  /* Light Mode Colours
  
  background: #FFFFFF;
  color: #000000;
  button: #F2F2F2;
  buttonhover: #E5E5E5;
  
  */
}
.a{
  text-decoration: none;
}

.aa {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  }
  
  .aa li {
    display: inline-block;
  margin-right: 10px;
  }
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} */

/* body {
  background-color: var(--background);
} */

/* .container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.like_dislike {
  position: relative;
  width: 150px; /* o'lchamni kichikroq qiling */
  height: 35px; /* o'lchamni kichikroq qiling */
  font-size: 18px; /* o'lchamni kichikroq qiling */
  background-color: var(--button);
  border-radius: 190px; /* o'lchamni kichikroq qiling */
  overflow: hidden;
  display: flex;
}

/* .like_dislike {
  position: relative;
  width: 450px;
  height: 115px;
  font-size: 50px;
  background-color: var(--button);
  border-radius: 300px;
  overflow: hidden;
  display: flex;
} */

.like {
  z-index: 1;
  width: 60%;
  border-radius: 200px 0 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.dislike {
  z-index: 2;
  width: 40%;
  border-radius: 0 200px 200px 0;
  display: grid;
  place-items: center;
}

.like_dislike div:hover {
  cursor: pointer;
  background-color: var(--buttonhover);
}

.divider {
  z-index: 0;
  position: absolute;
  left: 60%;
  top: 15%;
  height: 70%;
  width: 1px;
  background-color: var(--buttonhover);
}

@keyframes buttonPress {
  0% {
    box-shadow: inset 0px 0px 5px 2px var(--feedback__color);
  }
  100% {
    box-shadow: none;
  }
}

.toggle-container {
  width: 110px;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--button);
  position: absolute;
  top: 3em;
  left: 3em;
  cursor: pointer;
}

.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: 300ms ease-out;
  background-color: var(--background);
}

.toggle-dark {
  transform: translateX(0);
}

.toggle-light {
  transform: translateX(95%);
}

.touch_feedback {
  animation-name: buttonPress;
  animation-duration: 750ms;
}

.like__animation {
  animation-name: like;
  animation-duration: 750ms;
}

.dislike__animation {
  animation-name: dislike;
  animation-duration: 750ms;
}

@keyframes like {
  20% {
    transform-origin: bottom left;
    transform: scale(0.1);
  }

  50% {
    transform: rotate(-45deg);
  }
}

@keyframes dislike {
  0% {
  }
  30% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(-15px);
  }
  100% {
  }
}
