{% extends 'main/base.html' %}
{% block content %}		

		<!--============================-->
		<!--=        	Banner         =-->
		<!--============================-->
		<section class="page-header" data-bg-image="/static/media/background/7.jpg">
			<div class="tim-container">
				<div class="page-header-title text-center">
					<h3>Eng yangi  musiqalar</h3>
					<h2></h2>
				</div>

				<div class="breadcrumbs">
					<a href="#">Bosh sahifa</a>
					<span>/</span>
					<span>Eng yangi musiqalar</span>
				</div>

			</div>
			<!-- /.tim-container -->
		</section>
		<!-- /#page-header -->

		<!--===========================-->
		<!--=        	Tabs          =-->
		<!--===========================-->
		<section id="music-tabs" class="section-padding">
			<div class="container">
				<div class="tab-filter-wraper">
					<!-- <ul class="tim-isotope-filter tabs-filter-button">
						<li class="current">
							<a href="" data-filter="*">All</a>
						</li>
						<li>
							<a href="" data-filter=".classical">Classical</a>
						</li>
						<li>
							<a href="" data-filter=".rock">Rock</a>
						</li>
						<li>
							<a href="" data-filter=".jazz">Jazz</a>
						</li>
						<li>
							<a href="" data-filter=".world">World</a>
						</li>
						<li>
							<a href="" data-filter=".artist">Artist</a>
						</li>
						<li>
							<a href="" data-filter=".mitallick">Metallica</a>
						</li>
						<li>
							<a href="" data-filter=".tradinal">Tradional</a>
						</li>
					</ul> -->

					<div class="tab-details">
						<ul class="details">
							<li>Xonanda</li>
							<li>Nomi</li>
							<li>Turi</li>
							<li>Ovozlar</li>
							
							<li>Ko'rilgan</li>
                            <li>Yuklash</li>
                            <!-- <li>Yuklash</li> -->
						</ul>
					</div>
					<!-- /.tab-details -->

					<div class="tim-isotope tim-isotope-3">
						<ul class="tim-filter-items tabs-filter grid">
							<li class="grid-sizer"></li>
							<li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>
                            <li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>	<li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>	<li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>	<li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>	<li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>	<li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>	<li class="tim-songs-items grid-item jazz world rock tradinal">
								<ul class="songs-details">
									<li><a href="#"><a href="/static/media/audio/01.mp3" class="sm2_button sm2_paused"><i></i>Tonoy Anderson</a></a></li>
									<li>Life's Mysteries</li>
									<li>Rock</li>
									<li>1425</li>
									
									<li><i class="fa fa-eye"></i>4512</li>
                                    <li><a href="#" class="song-download"><i class="fa fa-download"></i></a></li>
								</ul>
							</li>
                            
						

						</ul>
					</div>
				</div>
				<!-- /.tab-filter-wraper -->

				<nav class="posts-navigation text-center clearfix">
					<ul>
						<li><a href="#">Oldinga</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Keyingi</a></li>
					</ul>
				</nav>
			</div>
			<!-- /.tim-container -->
		</section>
		<!-- /#music-tabs -->

		{% endblock content %}		

		<!--  -->