{% extends 'backend/main/base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}
{% for message in messages %}
  {% if message.tags == 'success' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var m = '{{ message }}';
        swal('Muvaffaqiyatli yangilandi !', m, "info")
    </script>
  {% endif %}
{% endfor %}
    <h1>Talant Page</h1>
    <h2>Add categories</h2>
    <div class="col-md-12">
      <div class="card card-primary" style="border-radius: 2px solid #007bff;">
        <form method="post" onsubmit="return validateFormTalant()" enctype="multipart/form-data" autocomplete="off">
          {% csrf_token %}
          <div class="card-body">

            <div class="form-group">
              <label>Category</label>
              <select id="multipleselect" name="category" placeholder="Categoriyalarni tanlang !!!" multiple>
                {% for category in categories %}
                  {% if category in own_categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
  
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
  
            
        </form>
      </div>
    </div>
    <script>
      $(document).ready(function(){
      var multipleSelectButton = new Choices('#multipleselect', {
      removeItemButton: true,
      // maxItemCount:5,
      });
      });
      </script>
{% endblock content %}