{% extends 'frontend/main/base.html' %}
{% block title %} O'zbekiston Finlandiya Pedagogika Instituti Yosh ijodkorlarni namoyon qilish portali {% endblock title %}
{% block content %}		
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% for message in messages %}
  {% if message.tags == 'success' %}
    <script>
        var m = '{{ message }}';
        swal('Congratulation !', m, "success")
    </script>
    {% elif message.tags == 'error' %}
    <script>
      var m = '{{ message }}';
      swal('Ogohlantirish', m, "info")
    </script>
  {% endif %}
{% endfor %}

		<section class="page-header" data-bg-image="/static/media/background/video.jpg">
			<div class="tim-container">
				<div class="page-header-title text-center">
					<h3>Competition Rassom</h3>
					<h2></h2>
				</div>

				<div class="breadcrumbs">
					<a href="#">Bosh sahifa</a>
					<span>/</span>
					<span>Competition Rassom</span>
				</div>

			</div>
		</section>

    
    
<section style="background-color: #f4f6f9;">
    <div class="container pt-5 pb-5">
        <div class="card">
            <div class="row align-items-center">
                <div class="col">
                    <div class="card-header">
                        <h3 class="card-title">Rasmlar ro'yxati</h3>
                      </div>
                </div>
             </div>
            <!-- /.card-header -->
            <div class="table-responsive">
                <div class="card-body ">
                    <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>#ID</th>
                        <th>Rasm nomi</th>
                        <th>Barcha rasmlar</th>
                        <th>Ovozlar Soni</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for rassom in rassom_comp %}
                      <tr>
                        <td>{{rassom.id}}</td>
                        <td>{{rassom.title}}</td>
                        <td class="text-center" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalfully{{rassom.id}}"><span class="fa fa-image fa-1x text-primary"></span></td>
                        <td class="text-center">{{ rassom.votes.count }}</td>
                        <td class="text-center"><a href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalVOTE{{rassom.id}}">Ovoz berish</a></td>
                      </tr>
                            <!-- View Sher Fully -->
                            <div class="modal fade" id="exampleModalfully{{rassom.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-image text-primary"></i> {{rassom.title}}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  </div>
                                  <div class="modal-body">
                                    <p class="text-center"><img src="{{ rassom.img.url }}" class="img-fluid rounded" alt="">
                                      <div class="row">
                                        {% for rasm in rassom.comp_image_set.all %}
                                          <div class="col-md-6 col-6 mb-lg-2">
                                            <img src="{{ rasm.image.url }}" class="img-fluid rounded" alt="">
                                          </div>
                                        {% endfor %}
                                      </div>
                                    </p>
                                  </div>
                                  <div class="modal-footer" style="background-color: #007bff;">
                                  </div>
                              </div>
                              </div>
                          </div>
                          <!--  -->

                          <div class="modal fade" id="exampleModalVOTE{{rassom.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" style="color: #007bff;" id="exampleModalLabel"><span class="fa fa-phone fa-1x"></span> Ovoz berish #: {{rassom.id}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body p-4">
                                    <div class="row">
                                        <form action="" method="post">{% csrf_token %}
                                          <div class="input-group mb-3">
                                            <input type="text" class="form-control phone" name="phone_number" data-inputmask='"mask": "+998(99) 999-99-99"' data-mask>
                                            <div class="input-group-append">
                                              <div class="input-group-text">
                                                <span class="fa fa-phone"></span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="input-group mb-3">
                                            <input type="text" class="form-control" value="{{rassom.id}}" name="product_id" hidden>
                                          </div>
                                          <button class="btn btn-primary" type="submit">Jo'natish</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer" style="background-color: #007bff;">
                                </div>
                            </div>
                            </div>
                        </div>
                      {% endfor %}
               
                      </tfoot>
                    </table>
                  </div>
            </div>
          </div>
    </div>
</section>


  
	


		{% endblock content %}		